* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

header {

  grid-area: header;
  background-color: blue;
  height: 100%;
}



nav {
grid-area: nav;
background-color: rgb(170, 26, 26);
color: rgb(255, 251, 0);
display: flex;
justify-content: center;

height: 100%;

}

aside{
  grid-area: aside;
  width: 12vw;
  background-color: brown;
  color: aqua;
}

h4{
  list-style-type: none;
  display: flex;
  /* width: auto; */
  justify-content: center;
  

}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: auto;
  overflow-y: auto;

}

main{
  grid-area: main;
  
  background-color: yellow;
  color: black;
  
}



footer{
  grid-area: footer;
  background-color: gray;
  color: white;
  
}

.grid-container{
 
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-areas:
  "header header header"
    "nav nav nav"
    "aside main main"
    "aside main main"
    "aside main main"
    "footer footer footer";
    background-color: burlywood;
  
  }